<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fedorahosted.freeotp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:backupAgent=".TokenBackupAgent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="true"
        android:icon="@drawable/ic_freeotp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_freeotp"
        android:supportsRtl="true"
        android:theme="@style/FreeOTP.Purple.NoActionBar">
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ManualAdd"
            android:exported="false"
            android:parentActivityName=".main.Activity"
            android:theme="@style/FreeOTP.Purple.NoActionBar" />
        <activity
            android:name=".main.Activity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/FreeOTP.Purple.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hotp"
                    android:scheme="otpauth" />
                <data
                    android:host="totp"
                    android:scheme="otpauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/FreeOTP.Purple.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>