<?xml version="1.0" encoding="utf-8"?>
<!--
   - FreeOTP
   -
   - Authors: Nathaniel McCallum <npmccallum@redhat.com>
   -
   - Copyright (C) 2013  Nathaniel McCallum, Red Hat
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -     http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License.
   -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fedorahosted.freeotp"
    android:versionCode="16"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".AboutActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            />

        <activity
            android:name=".add.ScanActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            />

        <activity
            android:name=".add.AddActivity"
            android:label="@string/add_token"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateVisible"
            />

        <activity
            android:name=".edit.DeleteActivity"
            android:label="@string/delete_question"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />

        <activity
            android:name=".edit.EditActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateVisible"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="otpauth" android:host="totp" />
                <data android:scheme="otpauth" android:host="hotp" />
            </intent-filter>
        </activity>
    </application>
</manifest>
